.dart_tool/
.idea/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
web/vendor/tflite/
!web/vendor/tflite/
!web/vendor/tflite/**
node_modules/
coverage/
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Pods/
*.iml
.DS_Store
